<h3 class="page-header">Edit transaction</h3>

<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <div class="col-lg-10">
                <input name="count" value="<%= transaction.count %>" type="number" class="form-control" id="cost" placeholder="Count">
            </div>
            <div class="col-lg-10">
                <div class="calculator">
                    <div class="row small-grid-row">
                        <div class="col-xs-4 small-grid">
                            <button type="button" class="btn btn-default">1</button>
                        </div>
                        <div class="col-xs-4 small-grid">
                            <button type="button" class="btn btn-default">2</button>
                        </div>
                        <div class="col-xs-4 small-grid">
                            <button type="button" class="btn btn-default">3</button>
                        </div>
                    </div>
                    <div class="row small-grid-row">
                        <div class="col-xs-4 small-grid">
                            <button type="button" class="btn btn-default">4</button>
                        </div>
                        <div class="col-xs-4 small-grid">
                            <button type="button" class="btn btn-default">5</button>
                        </div>
                        <div class="col-xs-4 small-grid">
                            <button type="button" class="btn btn-default">6</button>
                        </div>
                    </div>
                    <div class="row small-grid-row">
                        <div class="col-xs-4 small-grid">
                            <button type="button" class="btn btn-default">7</button>
                        </div>
                        <div class="col-xs-4 small-grid">
                            <button type="button" class="btn btn-default">8</button>
                        </div>
                        <div class="col-xs-4 small-grid">
                            <button type="button" class="btn btn-default">9</button>
                        </div>
                    </div>
                    <div class="row small-grid-row">
                        <div class="col-xs-4 small-grid ">
                            <button type="button" class="btn btn-default clear">clear</button>
                        </div>
                        <div class="col-xs-4 small-grid">
                            <button type="button" class="btn btn-default">0</button>
                        </div>
                        <div class="col-xs-4 small-grid">
                            <button type="button" class="btn btn-default backspace">
                                <span class="text glyphicon glyphicon-chevron-left" ></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <ul class="tags">
                    <% _.each(tags, function(tag){ %>
                    <li data-id="<%= tag._id %>" class=" <%=  (tag._id == transaction.tags[0])? 'active': '' %> ">
                        <button type="button" class="btn btn-default ">
                            <span class="glyphicon glyphicon-tag"></span>
                            <span class="text"><%= tag.tagName %></span>
                        </button>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <textarea  name="comment" class="form-control" rows="3" id="comment" placeholder="Comment"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <input name="date" type="date" class="form-control" value="<%= date%>"  placeholder="Date"/>
            </div>
        </div>

        <div class="messages"></div>

        <div class="form-group">
            <div class="col-lg-10">
                <button type="button" class="btn btn-danger deleteBtn">Remove</button>
                <button type="button" class="btn btn-default cancelBtn">Cancel</button>
                <button type="submit" class="btn btn-primary editBtn">Edit</button>
            </div>
        </div>
    </fieldset>
</form>