<div class="modal-content">
    <div class="modal-header">

        <% if(showCloseButton == true) { %>
        <button type="button" class="close closeBtn">×</button>
        <% }%>

        <h4 class="modal-title"><%= title %></h4>
    </div>
    <div class="modal-body">
        <%= text %>
    </div>
    <div class="modal-footer">

        <% if(isShowCloseOnFooter == true) { %>
        <button type="button" class="btn btn-default decline"><%= textDefault %></button>
        <% }%>
        <button type="button" class="btn btn-primary accept"><%= textPrimary %></button>
    </div>
</div>