p Thank you for signing up to join Budget!
p To complete your registration and confirm your email address, please click the following link
a(href='http://budget.com/api/user/confirmation/confirmationId') Activate My Account
p If this link doesn’t work, please copy it into your browser’s address bar:
p http://budget.com/api/user/confirmation/confirmationId