<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.budget" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Budget</name>
    <description>
        Budget application.
    </description>
    <author email="mue.miv@gmail.com" href="budget.batros.in.ua">
        Mue
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
