<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <div class="col-lg-10">
                <input name="count" type="number" class="form-control" id="cost" placeholder="Count">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <ul class="tags">
                    <% _.each(tags, function(tag){ %>
                    <li data-id="<%= tag._id %>" class="">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-tag"></span>
                            <span class="text"><%= tag.tagName %></span>
                        </button>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <textarea  name="comment" class="form-control" rows="3" id="comment" placeholder="Comment"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <input name="date" type="date" class="form-control" value="<%= date%>"  placeholder="Date"/>
            </div>
        </div>

        <div class="messages"></div>

        <div class="form-group">
            <div class="col-lg-10">
                <button class="btn btn-default cancel">Cancel</button>
                <button type="submit" class="btn btn-primary add">Add cost</button>
            </div>
        </div>
    </fieldset>
</form>