extends layout
block content
    #body
    #notify-container-side
    #notify-container
    #modal.modal
    #modalSecond.modal

block js_scripts

    script(type='text/javascript').
        var Budget = {
            user: {
                email: false
            }
        };

    if(user)
        script(type='text/javascript').
            Budget['user'] = {
                email: '#{user.email}',
                id: '#{user.id}'
            }


    if(live)
        script(type='text/javascript' src='js/require.js')
        script(type='text/javascript' src='/js/script.js')
    else
        script(type='text/javascript' src='js/vendor/libs/require/require.js')
        script(type='text/javascript').
            requirejs(['js/config'], function(){
                require(['apps/web'], function(){})
            })