<td data-test="name" class="name">
    <span class="iconWrapper">

    <% if( os == "Android" ) {%>

    <%if ( role == "user" ){%>
    <i class="i_menu_and_light main"></i>
    <i class="i_menu_and_light hover"></i>
    <%}else{%>
    <i class="icon-Android main"></i>
    <i class="i_menu_and_hover hover"></i>
    <%}%>

    <%}else if( os == "MacOs" || os == "iOS" ){%>

    <%if ( role == "user" ){%>
    <i class="i_menu_ios_light main"></i>
    <i class="i_menu_ios_light hover"></i>
    <%}else{%>
    <i class="icon-MacOs main"></i>
    <i class="i_menu_ios_hover hover"></i>
    <%}%>

    <%}else if( os == "Win" ){%>

    <%if ( role == "user" ){%>
    <i class="i_menu_win_light main"></i>
    <i class="i_menu_win_light hover"></i>
    <%}else{%>
    <i class="icon-Win main"></i>
    <i class="i_menu_win_hover hover"></i>
    <%}%>

    <% }%>
    </span>
    <span class="text"><%= name %></span>
</td>
<td data-test="role"><%= role %></td>
<td data-test="timezone"><%= tz %> (<%= offset %>)</td>
<td class="editUuid btnTable">
    <% if( role == "owner" ) { %>
    <div class="button color-table-active editBtn">
        <i class="icon-edit-black"></i>
    </div>
    <% } %>
</td>
<td class="deleteUuid btnTable">
    <% if( role == "owner" ) { %>
    <div class="button color-table-active deleteBtn">
        <i class="icon-black-recycle"></i>
    </div>
    <% } %>
</td>