body{
  padding-top: 50px;
}
.sign
  background rgba(78, 93, 108, 0.8)
  position relative

.filter-container
    margin 10px 0

.small-grid-row
    margin-right: -2px;
    margin-left: -2px;
.small-grid
    padding-right: 2px;
    padding-left: 2px;

.choosePointer
    cursor pointer

.calculator
    @media (min-width: 768px)
        display none

    [class^="col"]
        margin 8px 0

    button
        width 100%

.dateFiter
    .dateLabel
        text-align: center;
        padding: 9px 0;
        background: rgb(224, 224, 224);
        color: rgb(65, 65, 65);

.widget-container
    padding 10px 0
    position relative

.loadingState
    .loading-container
        display block

.loading-container
    height 4px
    position absolute
    top 0
    left 0
    width 100%
    display none

    .progress-bar
        width 100%

#notify-container
    position fixed
    width 150px
    min-height 12px
    top 0px
    left 50%
    margin-left -100px
    z-index 1040

#notify-container-side
    position fixed
    width 200px
    min-height 12px
    top 40px
    right 5px
    z-index 1040

    .notify
        padding 6px 6px 3px
        margin-bottom 7px

    .success
        border-bottom: 2px solid #3c96ea

.notify
    text-align center
    font-size 14px
    background rgba(255, 255, 255, 0.89)
    padding 6px 6px 0
    min-height 30px
    margin 0 0 3px
    color #646464

    .body
        p
            padding 0

    &.error
        border-bottom 2px solid #e62038
    &.success
        border-bottom: 2px solid #e62038


.landingLogo
  width: 30%

  @media (max-width: 768px)
    width: 60%

.settings{
  margin: 20px 0;
  background: rgba(0, 0, 0, 0.19);
  padding: 10px 0 0 0;
}
.settings .title{
  display: inline-block;
  margin: 0 5px 0 0;
  width: 60px;
}

.settings .setting-item{
  margin-bottom: 10px;
}
.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.budget-table td{
  padding: 15px 5px !important;
}
.budget-table .value{
    padding-left 10px
}
.budget-pager{
  margin: 15px 0;
}
.budget-pager li>a, .budget-pager li>span{
  border-radius: 0;
}
.page-header{
  margin-top: 10px;
}
.menu{
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}
.menu .nav{
  background:  #4e5d6c;
}
.menu .nav a{
  color: white;
}
.menu .nav li a:hover{
  background: #485563;
}
.menu .nav .active{
  background: #485563;
}
.menu .nav .text{
  display: inline-block;
  margin-left: 10px;
}
.logo{
  margin: 5px 5px 0 0;
  display: inline-block;
}
.content{
  /*background:  #4e5d6c;*/
  min-height: 150px;
}
.form-horizontal{

}
.navbar-nav{
  margin: 0;
}
.menu-toggle {
  position: relative;
  padding: 12px 10px 6px 10px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  display: none;
}
.budget-list li{
  overflow: hidden;
  margin: 15px 0 15px;
}
.budget-list .inner{
  margin: 10px 0;
  padding: 5px 9px;
  background: rgba(0, 0, 0, 0.10);
}
.budget-list .list-group-item:last-child{

}
.transaction-container
    .tags
        padding: 0

        li
            display: inline-block;
            list-style: none;
            cursor: pointer;
            margin-right: 8px;
            margin-bottom: 10px;

            &.active
                button
                    background #df691a

            .text
                display: inline-block;
                margin-right: 10px;


.menu-toggle .icon-bar{
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #FFF;
  margin: 0 0 5px;
  display: block;
}

@media (max-width: 768px){
  .menu-toggle{
    display: block;
  }
}
@media (min-width: 768px){
  .menu {
    position: relative;
    display: block;
    padding-left: 0;
  }
}